.owl-carousel .owl-nav button.owl-next {
  background-color: #86d488 !important;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #86d488;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #b2dab3 !important;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #b2dab3;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-nav button.owl-prev {
  background-color: white !important;
  font-weight: 600;
  color: #000000;
  border: 1px solid #b6b5b5;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: white !important;
  font-weight: 600;
  color: #898a89;
  border: 1px solid #b6b5b5;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-item img {
  display: inline;
  width: auto;
}
