.jumbotron {
  background-color: #f1f3ff;
  padding: 12rem 0 95px 0;
}

.jumbotron .title-jumb {
  font-size: 30px;
}

.jumbotron .desc-jumb {
  font-size: 15px;
}

.w-desc {
  width: 50% !important;
}

.container-car {
  z-index: 98;
}

.square-car {
  border-radius: 50px 0px 0px 0px;
  width: 100%;
  height: 250px;
  position: inherit;
  right: 0;
  bottom: 0;
  background-color: #0d28a6;
}
