.btn-g-green {
  background-color: #86d488;
  color: #ffffff !important;
}
.navbar-brand {
  background-color: #0d28a6;
  width: 100px;
  height: 30px;
}
.nav {
  background-color: #f1f3ff;
  color: #000;
  font-weight: 600;
}
