.our-service {
  padding: 100px 0px;
}

.our-service .img-user {
  height: 450px;
}

.img-user .circle-green {
  width: 100px;
  height: 100px;
  background-color: #92d094;
}
.img-user .circle-yellow {
  width: 48px;
  height: 48px;
}

.img-user .circle-red {
  width: 30px;
  height: 30px;
  background-color: #fa2c5a;
}

.our-service .list-service {
  height: 450px;
}

.list-service .title-service {
  font-size: 25px;
}

.list-service .desc-service {
  font-size: 15px;
}

.list-service .list-desc {
  font-size: 15px;
}
