.desc-mobil {
  margin: 100px 0;
}

.desc-mobil .title-desc-car {
  font-size: 25px;
}

.desc-mobil .container {
  background-color: #0d28a6 !important;
  color: #fff;
  padding: 64px 0px;
  font-size: 15px;
}
.btn-green {
  background-color: #86d488;
  color: #ffffff !important;
}
